<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>

<h2>Order Summaries</h2>
<table>
  <tr>
    <th>Summary ID</th>
    <th>Company ID</th>
    <th>Company Name</th>
    <th>Total Number of Orders</th>
    <th>Total Revenue Generated</th>
    <th>Company Telephone</th>
    <th>Company Email</th>
  </tr>
  <% @order_summaries.each do |set| %>
    <tr>
      <td><%= set.summary_id %></td>
      <td><%= set.company_id %></td>
      <td><%= set.company_name %></td>
      <td><%= set.number_of_orders %></td>
      <td><%= set.total_revenue %></td>
      <td><%= set.company_telephone %></td>
      <td><%= set.company_email %></td>
    </tr>
  <% end %>
</table>

<form action="/" method="get">
<input type="submit" value="HIHIHI">
</form>
